@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.gamer {
  width: 30rem;
  height: 39rem;

  background-color: #d8dfe6;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  padding: 10px;
}
.gamer-bottom-context {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title"
    "stats stats moves"
    "stats stats moves";
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: "stats";
}
.healthBar {
  width: 100%;
  height: 0.5rem;
  background: #73e468;
  border-radius: 0.25rem;

  position: relative;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  transition: width 0.5s linear;
}
.shieldBar {
  width: 100%;
  height: 0.5rem;
  background: #4fa6ed;
  border-radius: 0.25rem;

  position: relative;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  transition: width 0.5s linear;
}
.Bar {
  box-sizing: border-box;
  width: 20rem;
  height: 1rem;
  background: #000;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  border-radius: 0.5rem;
  position: relative;
}
.hit {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0rem;

  transition: width 0.5s linear;
}
.bar-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1px;
}
.moves {
  margin-top: 1rem;
  grid-area: moves;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
}
.gamer-money {
  font-size: 14px;
  font-weight: 500;
}
.select {
  padding: 0.5rem;
}

.table {
  width: 130rem;
  height: 38rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  border: 0.18rem solid #ccc;
  border-radius: 0.5rem;
}
.kart {
  width: 21rem;
  height: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: none;
  padding: 5px;
  border-radius: 1.5rem;
}
.kartButton {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #dad4c8;
  margin: 0 5px;
}
.kartButton:hover {
  cursor: pointer;
  background-color: #d8dfe6;
}
.pozisyon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.images {
  width: 10rem;
}
.property {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  gap: 0.5rem;
}
.text {
  color: #112a46;
}
.textBlock {
  background-color: #d8dfe6;
  padding: 1rem;
  border-radius: 2rem;
}
.kartName {
  margin-bottom: 2rem;
}

.cardHeader {
  margin-top: 5px;
  padding: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffdd99;
  background-color: #ffdd99;
  border-radius: 1rem;
  opacity: 0.8;
}
.cardHeader > h1 {
  font-size: 23px;
}
.types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 500;
}
.bottom {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: 1px solid #dad4c8;
  border-radius: 1rem;
  width: 90%;
  padding: 5px;
  background-color: #dad4c8;
  opacity: 0.9;
}
.bonus {
  font-size: 10px;
  font-weight: 500;
  background-color: #ffdd99;
  border: 1px solid #ffdd99;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 14px -3px rgba(0, 0, 0, 0.36);
  text-align: left;
  padding-left: 5px;
  color: black;
}
.talk {
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  font-weight: 500;
}
.posions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.posion {
  border: 1px solid #401b00;
  padding: 5px 7px;
  border-radius: 0.3rem;
  cursor: pointer;
}
.health {
  border: 1px solid #149314;
}
.attack {
  border: 1px solid #ad1a1a;
}
.shield {
  border: 1px solid #112a46;
}
